@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@theme{
  --color-beige-100:#F5F5F4;
  --color-beige-200: #F5EFEB;
  --color-ivory:#ebe5e1;
  --color-warm-gray:#EBE0DA
  ;
}
*{

  box-sizing: border-box;
}

:root {
  font-family: "inter";
  margin: 0;
  padding:0;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

#root {
}

body {
  font-family: "Inter", sans-serif;
}
